
@{
    ViewData["Title"] = "UserRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserRights</h1>

<div class="row" style="padding-top: 10px;">
    <div class="col-lg-2 col-md-4 col-sm-4">
        <p class="font-weight-bold">Users</p>
        @Html.Partial("_GetUsers")
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8">
        <p class="font-weight-bold">Menu Rights</p>
        @*     @Html.Partial("_GetUserRights")*@
        <div id="LoadUserRights"></div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function GetUserRights(userId) {
        $.ajax({
            url: "/User/GetUserRights/",
            type: "POST",
            data: { UserId: userId },
        }).done(function (result) {
            $("#LoadUserRights").html(result);
        });
    }
</script>