
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetalert/sweetalert.min.js"></script>


<section id="CreateBlock">
</section>

<section id="AllBlock">
</section>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Block/Create",
            success: function (response) {
                $("#CreateBlock").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
        $.ajax({
            type: "GET",
            url: "/Block/GetBlocks",
            success: function (response) {


                $("#AllBlock").html(response)

            },
            error: function (error) {
                alert(error);
                console.log(error);
            }
             
        });
    });
    function submitCreateForm() {
        var ProjectName;
        var site;
        if (document.getElementById("BlockName").value == "" || document.getElementById("BlockName").value == null || document.getElementById("BlockName").value == undefined) {
            swal("Required", "Please Enter Block Name", "error");
            return;
        }
        else if (document.getElementById("BlockAddress").value == "" || document.getElementById("BlockAddress").value == null || document.getElementById("BlockAddress").value == undefined) {
            swal("Required", "Please Enter Block Address", "error");
            return;
        }
        else {
            const form = document.getElementById("createBlockForm");
            form.submit();
        }

    }
 </script>