@model ZameenCRM.Models.AddPlatterVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetalert/sweetalert.min.js"></script>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Platter</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Create" id="createPlatterForm">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Platter Name</label>
                                @if (ViewBag.PlatterName != null)
                                {
                                    <input type="text" class="form-control" value="@ViewBag.PlatterName" readonly="readonly" id="PlatterName" name="PlatterName" placeholder="Enter PlatterName" />
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="PlatterName" name="PlatterName" placeholder="Enter PlatterName" />
                                }
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Rebut Amount</label>
                                <input type="text" class="form-control" id="RebutAmount" name="RebutAmount" placeholder="Enter Rebut Amount" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label>Select Area</label>
                                <select name="Area" class="form-control">
                                    <option value="816">816</option>
                                    <option value="1361">1361</option>
                                    <option value="1361">1906</option>
                                    <option value="2722">2722</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Quantity</label>
                                <input type="text" class="form-control" id="Quantity" name="Quantity" placeholder="Enter Quantity" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Project</label>
                                @Html.DropDownList("ProjectId", ViewBag.Project as SelectList, "Select Project", new { @class = "form-control input-sm", id = "projectDropDown" })
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <input type="button" value="Create" id="Button" class="btn btn-primary" onclick="submitCreateForm()" />
                            <a href="/Platter/Cancle" class="btn btn-danger">Cancle</a>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>




<section id="AllBlock">
</section>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Platter/GetAll",
            success: function (response) {
                $("#AllBlock").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
    });
    function submitCreateForm() {

        if (document.getElementById("PlatterName").value == "" || document.getElementById("PlatterName").value == null || document.getElementById("PlatterName").value == undefined) {
            swal("Required", "Please Enter Name", "error");
            return;
        }
        else if (document.getElementById("RebutAmount").value == "" || document.getElementById("RebutAmount").value == null || document.getElementById("RebutAmount").value == undefined) {
            swal("Required", "Please Enter Rebut Amount", "error");
            return;
        }
        else if (document.getElementById("Quantity").value == "" || document.getElementById("Quantity").value == null || document.getElementById("Quantity").value == undefined) {
            swal("Required", "Please Enter Quantity", "error");
            return;
        }
        else if (document.getElementById("projectDropDown").value == "" || document.getElementById("projectDropDown").value == null || document.getElementById("projectDropDown").value == undefined) {
            swal("Required", "Please Select Project", "error");
            return;
        }
        else {
            const form = document.getElementById("createPlatterForm");
            form.submit();
        }
        
    }
</script>