@model ZameenCRM.Models.AddPlatterVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Platter</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Create" id="createBlockForm">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Platter Name</label>
                                @if (ViewBag.PlatterName != null)
                                {
                                    <input type="text" class="form-control" value="@ViewBag.PlatterName" readonly="readonly" id="PlatterName" name="PlatterName" placeholder="Enter PlatterName" />
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="PlatterName" name="PlatterName" placeholder="Enter PlatterName" />
                                }
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Rebut Amount</label>
                                <input type="text" class="form-control" id="RebutAmount" name="RebutAmount" placeholder="Enter Rebut Amount" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label>Select Area</label>
                                <select name="Area" class="form-control">
                                    <option value="816">816</option>
                                    <option value="1361">1361</option>
                                    <option value="1361">1906</option>
                                    <option value="2722">2722</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Quantity</label>
                                <input type="text" class="form-control" id="Quantity" name="Quantity" placeholder="Enter Rebut Amount" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Project</label>
                                @if (ViewBag.ProjectName != null)
                                {
                                    <input type="text" class="form-control" value="@ViewBag.ProjectName" readonly="readonly" id="PlatterName" name="PlatterName" placeholder="Enter PlatterName" />
                                }
                                else
                                {
                                    @Html.DropDownList("ProjectId", ViewBag.Project as SelectList, "Select Project", new { @class = "form-control input-sm" })
                                }
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-primary" onclick="submitCreateForm()" />
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>




<section id="AllBlock">

</section>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Platter/GetAll",
            success: function (response) {
                $("#AllBlock").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
    });
    function submitCreateForm() {
        document.getElementById("PlatterName").readOnly = true;
        var Name;
        var Address;
        if (document.getElementById("Name").value == "" || document.getElementById("Name").value == null || document.getElementById("Name").value == undefined) {
            console.log("The 'name' element does not contain 'someValue'.");
            Name = 'Name';
        } else {
            console.log("The 'Name' element contains 'someValue'.");
            Name = '';
        }
        if (document.getElementById("BlockAddress").value == "" || document.getElementById("BlockAddress").value == null || document.getElementById("BlockAddress").value == undefined) {
            console.log("The 'BlockAddress' element does not contain 'someValue'.");
            Address = 'BlockAddress';
        } else {
            console.log("The 'BlockAddress' element contains 'someValue'.");
            Address = '';
        }
        if ((document.getElementById("BlockName").value == "" || document.getElementById("BlockName").value == null || document.getElementById("BlockName").value == undefined)
            || (document.getElementById("BlockAddress").value == "" || document.getElementById("BlockAddress").value == null || document.getElementById("BlockAddress").value == undefined)) {
            swal("Required", "Please Enter " + Name + " " + Address + " ", "error");
        }

    }
</script>