
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="Create">
</section>

<section id="AllFile">
</section>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Platter/Create",
            success: function (response) {
                $("#Create").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
    });
</script>