@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="dashboard"></div>







<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/GetUserDashboard",
            success: function (response) {
                $("#dashboard").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
    });

</script>

