
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetalert/sweetalert.min.js"></script>


<section id="Createfile">
    </section>

<section id="AllFile">
</section>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/File/Create",
            success: function (response) {
                $("#Createfile").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
        $.ajax({
            type: "GET",
            url: "/File/GetFiles",
            success: function (response) {


                $("#AllFile").html(response)

            },
            error: function (error) {
                alert(error);
                console.log(error);
            }

        });
    });
    function submitCreateForm() {
        var ProjectName;
        var site;
        if (document.getElementById("FileNo").value == "" || document.getElementById("FileNo").value == null || document.getElementById("FileNo").value == undefined) {
            swal("Required", "Please Enter FileNo", "error");
            return;
        }
        else if (document.getElementById("Area").value == "" || document.getElementById("Area").value == null || document.getElementById("Area").value == undefined) {
            swal("Required", "Please Enter Area", "error");
            return;
        }
        else if (document.getElementById("Sarsai").value == "" || document.getElementById("Sarsai").value == null || document.getElementById("Sarsai").value == undefined) {
            swal("Required", "Please Enter Sarsai", "error");
            return;
        }
        else if (document.getElementById("Marla").value == "" || document.getElementById("Marla").value == null || document.getElementById("Marla").value == undefined) {
            swal("Required", "Please Enter Marla", "error");
            return;
        }
        else if (document.getElementById("RatePer").value == "" || document.getElementById("RatePer").value == null || document.getElementById("RatePer").value == undefined) {
            swal("Required", "Please Enter Rate", "error");
            return;
        }
      
        else if (document.getElementById("projectDropDown").value == "" || document.getElementById("projectDropDown").value == null || document.getElementById("projectDropDown").value == undefined) {
            swal("Required", "Please Select Project", "error");
            return;
        }
        else if (document.getElementById("Block").value == "" || document.getElementById("Block").value == null || document.getElementById("Block").value == undefined) {
            swal("Required", "Please Select Block", "error");
            return;
        }
        else if (document.getElementById("Type").value == "" || document.getElementById("Type").value == null || document.getElementById("Type").value == undefined) {
            swal("Required", "Please Select Type", "error");
            return;
        }

        else {
            const form = document.getElementById("createFileForm");
            form.submit();
        }

    }
</script>