
@{
    ViewData["Title"] = "Platter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Platter</h4>
            </div>
            <div class="card-body">
                <form id="platterForm" method="post" asp-action="Filter">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            @Html.DropDownList("platID", ViewBag.Platter as SelectList, "Select Platter", new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


