@model ZameenCRM.Models.AddProjectVM

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Project</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <form method="post" asp-action="Create" id="createStudentForm">
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="basicInput">Project Name</label>
                                <input type="text" class="form-control" id="ProjectName" name="ProjectName" placeholder="Enter Project Name" required="required" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-12">
                            <label asp-for="SiteId">Site:</label>
                            @Html.DropDownListFor(x => x.SiteId, new SelectList(ViewBag.Site, "Value", "Text"), "-- Select Site --", new { @class = "form-control", required = "required", id = "site" })
                            <span asp-validation-for="SiteId" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-primary" onclick="submitCreateForm()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

