
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetalert/sweetalert.min.js"></script>


<section id="CreateProject">
</section>

<section id="AllProjects">
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //Get Dep form
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Project/Create",
            success: function (response) {
                $("#CreateProject").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
        $.ajax({
            type: "GET",
            url: "/Project/GetProjects",
            success: function (response) {
                $("#AllProjects").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
    });
    function submitCreateForm() {
        var ProjectName;
        var site;
        if (document.getElementById("ProjectName").value == "" || document.getElementById("ProjectName").value == null || document.getElementById("ProjectName").value == undefined) {
            swal("Required", "Please Enter Project Name", "error");
            return;
        }
        else {
            const form = document.getElementById("createProjectForm");
            form.submit();
        }
        
    }
</script>


