
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetalert/sweetalert.min.js"></script>


<section id="CreateProject">
</section>

<section id="AllProjects">
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //Get Dep form
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Project/Create",
            success: function (response) {
                $("#CreateProject").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
        $.ajax({
            type: "GET",
            url: "/Project/GetProjects",
            success: function (response) {
                $("#AllProjects").html(response)
            },
            error: function (error) {
                alert(error);
            }
        });
    });
    function submitCreateForm() {
        var ProjectName;
        var site;
        if (document.getElementById("ProjectName").value == "" || document.getElementById("ProjectName").value == null || document.getElementById("ProjectName").value == undefined) {
            console.log("The 'name' element does not contain 'someValue'.");
            name = 'ProjectName';
        } else {
            console.log("The 'name' element contains 'someValue'.");
            name = '';
        }
        if (document.getElementById("site").value == "" || document.getElementById("site").value == null || document.getElementById("site").value == undefined) {
            console.log("The 'site' element does not contain 'someValue'.");
            email = 'site';
        } else {
            console.log("The 'site' element contains 'someValue'.");
            site = '';
        }
        if ((document.getElementById("ProjectName").value == "" || document.getElementById("ProjectName").value == null || document.getElementById("ProjectName").value == undefined)
            || (document.getElementById("site").value == "" || document.getElementById("site").value == null || document.getElementById("site").value == undefined)) {
            swal("Required", "Please Enter " + name + " " + site + " ", "error");
        } else {
            document.getElementById("createStudentForm").submit();
        }
        
    }
</script>


